.git
.gitignore
.idea
.vscode
.fleet
.nova
.zed
node_modules
vendor
public/build
public/hot
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
*.log
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
