@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-rosa-paleta: #fac8cdff;
    --color-lilas-paleta: #d7bcc8ff;
    --color-cinza-paleta: #98b6b1ff;
    --color-verde-paleta: #629677ff;
    --color-azul-paleta: #495d63ff;

    --color-rosa-50: oklch(94.84% 0.023 10.96);
    --color-rosa-100: oklch(89.57% 0.049 10.22);
    --color-rosa-200: oklch(79.71% 0.100 13.35);
    --color-rosa-300: oklch(70.82% 0.156 15.61);
    --color-rosa-400: oklch(63.78% 0.205 19.91);
    --color-rosa-500: oklch(59.40% 0.233 25.15);
    --color-rosa-600: oklch(50.45% 0.197 24.89);
    --color-rosa-700: oklch(40.95% 0.157 24.16);
    --color-rosa-800: oklch(30.90% 0.115 23.33);
    --color-rosa-900: oklch(20.10% 0.070 18.79);
    --color-rosa-950: oklch(16.58% 0.055 17.41);

    --color-lilas-50: oklch(95.76% 0.008 345.35);
    --color-lilas-100: oklch(91.57% 0.016 347.66);
    --color-lilas-200: oklch(83.01% 0.033 348.25);
    --color-lilas-300: oklch(74.33% 0.052 348.99);
    --color-lilas-400: oklch(65.71% 0.069 351.60);
    --color-lilas-500: oklch(56.76% 0.089 352.15);
    --color-lilas-600: oklch(48.59% 0.075 352.84);
    --color-lilas-700: oklch(39.76% 0.061 351.05);
    --color-lilas-800: oklch(30.59% 0.043 350.77);
    --color-lilas-900: oklch(20.66% 0.024 350.12);
    --color-lilas-950: oklch(17.31% 0.017 350.69);

    --color-cinza-50: oklch(96.41% 0.004 197.09);
    --color-cinza-100: oklch(92.97% 0.010 181.40);
    --color-cinza-200: oklch(85.86% 0.020 184.84);
    --color-cinza-300: oklch(78.61% 0.030 183.13);
    --color-cinza-400: oklch(71.12% 0.038 185.39);
    --color-cinza-500: oklch(63.64% 0.048 183.59);
    --color-cinza-600: oklch(54.18% 0.040 184.82);
    --color-cinza-700: oklch(44.44% 0.033 181.99);
    --color-cinza-800: oklch(33.96% 0.024 183.48);
    --color-cinza-900: oklch(22.54% 0.014 179.89);
    --color-cinza-950: oklch(18.91% 0.009 184.09);

    --color-verde-50: oklch(96.55% 0.007 160.08);
    --color-verde-100: oklch(92.98% 0.015 158.23);
    --color-verde-200: oklch(85.90% 0.030 159.83);
    --color-verde-300: oklch(78.72% 0.045 158.57);
    --color-verde-400: oklch(71.31% 0.058 158.41);
    --color-verde-500: oklch(63.97% 0.074 157.03);
    --color-verde-600: oklch(54.44% 0.061 157.50);
    --color-verde-700: oklch(44.65% 0.051 157.01);
    --color-verde-800: oklch(34.10% 0.036 157.89);
    --color-verde-900: oklch(22.61% 0.021 156.42);
    --color-verde-950: oklch(19.01% 0.016 157.12);

    --color-azul-50: oklch(96.22% 0.003 219.53);
    --color-azul-100: oklch(92.67% 0.007 208.78);
    --color-azul-200: oklch(84.96% 0.014 219.64);
    --color-azul-300: oklch(77.35% 0.021 216.24);
    --color-azul-400: oklch(69.35% 0.028 218.07);
    --color-azul-500: oklch(61.36% 0.037 218.05);
    --color-azul-600: oklch(52.23% 0.029 218.28);
    --color-azul-700: oklch(42.90% 0.024 216.53);
    --color-azul-800: oklch(32.75% 0.018 220.08);
    --color-azul-900: oklch(22.08% 0.009 208.75);
    --color-azul-950: oklch(18.33% 0.008 229.36);
}

/*:root {*/
/*    --rosa-paleta: #fac8cdff;*/
/*    --lilas-paleta: #d7bcc8ff;*/
/*    --cinza-paleta: #98b6b1ff;*/
/*    --verde-paleta: #629677ff;*/
/*    --azul-paleta: #495d63ff;*/

/*    --rosa-50: oklch(94.84% 0.023 10.96);*/
/*    --rosa-100: oklch(89.57% 0.049 10.22);*/
/*    --rosa-200: oklch(79.71% 0.100 13.35);*/
/*    --rosa-300: oklch(70.82% 0.156 15.61);*/
/*    --rosa-400: oklch(63.78% 0.205 19.91);*/
/*    --rosa-500: oklch(59.40% 0.233 25.15);*/
/*    --rosa-600: oklch(50.45% 0.197 24.89);*/
/*    --rosa-700: oklch(40.95% 0.157 24.16);*/
/*    --rosa-800: oklch(30.90% 0.115 23.33);*/
/*    --rosa-900: oklch(20.10% 0.070 18.79);*/
/*    --rosa-950: oklch(16.58% 0.055 17.41);*/

/*    --lilas-50: oklch(95.76% 0.008 345.35);*/
/*    --lilas-100: oklch(91.57% 0.016 347.66);*/
/*    --lilas-200: oklch(83.01% 0.033 348.25);*/
/*    --lilas-300: oklch(74.33% 0.052 348.99);*/
/*    --lilas-400: oklch(65.71% 0.069 351.60);*/
/*    --lilas-500: oklch(56.76% 0.089 352.15);*/
/*    --lilas-600: oklch(48.59% 0.075 352.84);*/
/*    --lilas-700: oklch(39.76% 0.061 351.05);*/
/*    --lilas-800: oklch(30.59% 0.043 350.77);*/
/*    --lilas-900: oklch(20.66% 0.024 350.12);*/
/*    --lilas-950: oklch(17.31% 0.017 350.69);*/

/*    --cinza-50: oklch(96.41% 0.004 197.09);*/
/*    --cinza-100: oklch(92.97% 0.010 181.40);*/
/*    --cinza-200: oklch(85.86% 0.020 184.84);*/
/*    --cinza-300: oklch(78.61% 0.030 183.13);*/
/*    --cinza-400: oklch(71.12% 0.038 185.39);*/
/*    --cinza-500: oklch(63.64% 0.048 183.59);*/
/*    --cinza-600: oklch(54.18% 0.040 184.82);*/
/*    --cinza-700: oklch(44.44% 0.033 181.99);*/
/*    --cinza-800: oklch(33.96% 0.024 183.48);*/
/*    --cinza-900: oklch(22.54% 0.014 179.89);*/
/*    --cinza-950: oklch(18.91% 0.009 184.09);*/

/*    --verde-50: oklch(96.55% 0.007 160.08);*/
/*    --verde-100: oklch(92.98% 0.015 158.23);*/
/*    --verde-200: oklch(85.90% 0.030 159.83);*/
/*    --verde-300: oklch(78.72% 0.045 158.57);*/
/*    --verde-400: oklch(71.31% 0.058 158.41);*/
/*    --verde-500: oklch(63.97% 0.074 157.03);*/
/*    --verde-600: oklch(54.44% 0.061 157.50);*/
/*    --verde-700: oklch(44.65% 0.051 157.01);*/
/*    --verde-800: oklch(34.10% 0.036 157.89);*/
/*    --verde-900: oklch(22.61% 0.021 156.42);*/
/*    --verde-950: oklch(19.01% 0.016 157.12);*/

/*    --azul-50: oklch(96.22% 0.003 219.53);*/
/*    --azul-100: oklch(92.67% 0.007 208.78);*/
/*    --azul-200: oklch(84.96% 0.014 219.64);*/
/*    --azul-300: oklch(77.35% 0.021 216.24);*/
/*    --azul-400: oklch(69.35% 0.028 218.07);*/
/*    --azul-500: oklch(61.36% 0.037 218.05);*/
/*    --azul-600: oklch(52.23% 0.029 218.28);*/
/*    --azul-700: oklch(42.90% 0.024 216.53);*/
/*    --azul-800: oklch(32.75% 0.018 220.08);*/
/*    --azul-900: oklch(22.08% 0.009 208.75);*/
/*    --azul-950: oklch(18.33% 0.008 229.36);*/
/*}*/

